.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745; /* Nouvelle couleur de fond verte */
    color: #fff; /* Couleur du texte en blanc */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    animation: slideInRight 0.5s ease-out forwards; /* Animation de glissement vers la droite */
}

.notification2 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dc3545; /* Rouge */
    color: #fff; /* Couleur du texte en blanc */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    animation: slideInRight 0.5s ease-out forwards; /* Animation de glissement vers la droite */
}

.notification3 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffc107; /* Jaune */
    color: #212529; /* Couleur du texte en noir */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    animation: slideInRight 0.5s ease-out forwards; /* Animation de glissement vers la droite */
}

.bold {
    font-weight: bold;
}

.notification-title {
    font-size: 20px; /* Ajustez la taille selon vos préférences */
}

.hide-notification {
    animation: fadeOut 0.5s ease-out forwards; /* Animation de fondu lors de la disparition */
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none; /* Cacher la notification à la fin de l'animation */
    }
}